body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ececec;
    font-family: Comfortaa, sans-serif;
  }
  
  main {
    flex: 1 0 auto;
  }

/* Navigation */

.navbar-nav {
    margin-right: 50px;
  }

.navbar-nav > li {
  padding-top: 50px;
}

#navbar-logo {
  height: 80px;
}

.nav-item a {
  color: #FCF8FF;
}

.nav-item a:hover {
  color: #FCF8FF;
}

.nav-link {
  padding: 2px;
}

.navbar-nav .nav-link.active {
  border: 1px solid #FCF8FF;
  color: #FCF8FF;
  border-radius: 3px;
}

/* Home page picture */

#home-page-pic {
    padding: 3px;
    opacity: 0.8;
  }
  
  #pic-frame {
    margin-top: 15px;
    height: 800x;
    width: 1200x;
    border: 1px solid #1c1b1a;
  }

  /* Contact information */

.contact-list {
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  #working-days > ul, #working-hours, #working-hours-heading, #home-text {
    list-style-type: none;
    font-weight: 600;
  }
  
  #working-days > ul > li, #working-hours > ul > li {
    padding: 4px;
  }
  
  #home-text {
    font-size: 20px;
    font-family: Merriweather Sans, sans-serif;
  }

  #book-button {
    padding: 4px 58px;
    background-color: #FCF8FF;
  }
  
  #book-button:hover {
    background-color: #1c1b1a;
    color: #FCF8FF;
  }

  #stamps {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  
  #location {
    margin-top: 70px;
  }

/* Bookings page */

.btn {
    border-radius: 3px;
  }
  
  #select-lesson {
    position: absolute;
    left: 0;
  }

  #selection {
    margin: 100px 0 0 600px;
    height: 580px;
  }
  
  .lesson-button {
    height: 80px;
    width: 130px;
    background-color: #FCF8FF;
  }
  
  #manage-bookings, #manage, #success-manage-bookings {
    background-color: #FCF8FF;
    padding: 5px 50px 5px 50px;
  }