{% extends "base.html" %}
{% load static %}

{% block content %}

   <!-- Admin panel -->
   <div class="container-fluid row mt-5 justify-content-between">
        <div class="text-center">
            <p class="h3 mt-5 text-center" id="admin-panel-p">
                Admin panel
            </p>
            <p class="h3 mt-5 text-center d-none" id="completed-lessons-p">
                Completed lessons
            </p>
                <!-- Select completed on upcoming lessons  -->
                <div class="flex-column d-flex justify-content-center mt-4" id="admin-buttons-div">
                    <div class="">
                        <button type="button" class="btn btn-outline-dark admin-buttons" id="completed-lessons">Completed lessons</button>
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn btn-outline-dark admin-buttons" id="">Upcoming lessons</button>
                    </div>
                </div>
        </div>

        <div class="w-auto position-absolute top-75 end-0 me-5" id="admin-stats-div">
            <div class="me-5">
                <p class="text-center h5 me-5">
                    Bookings stats:
                </p>
                <div class="mt-4 ps-4">
                    <p class="admin-stats">Piano:&nbsp&nbsp{{ admin_piano }}</p>
                    <p class="admin-stats">Theory:&nbsp&nbsp{{ admin_theory }}</p>
                    <p class="admin-stats">Online:&nbsp&nbsp{{ admin_online }}</p>
                    <p class="admin-stats">Offline:&nbsp&nbsp{{ admin_offline }}</p>
                    <p class="admin-stats">Completed:&nbsp&nbsp{{ admin_completed }}</p>
                    <p class="admin-stats">Upcoming:&nbsp&nbsp{{ admin_upcoming }}</p>
                    <p class="admin-stats mt-4">Total:&nbsp&nbsp{{ admin_total }}</p>
                </div>
            </div>
        </div>
    </div>


{%endblock%}