{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Select and book a lesson  -->

{% if user.is_authenticated %}

<div class="container-fluid row mt-5 justify-content-between" id="select-lesson">
    <div class="col-4" id="selection">
        <div>

            <!-- Select piano or theory  -->
            <div class="row d-flex justify-content-center" id="piano-theory">
                <p class="h3 text-center">Select a lesson</p>
                <div class="col-3 mt-3">
                    <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="piano-btn">Piano</button>
                </div>
                <div class="col-3 mt-3">
                    <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="theory-btn">Theory</button>
                </div>
            </div>

            <!-- Select online or offline  -->
            <div id="online-offline">
                <p class="h3 text-center d-none" id="select-lesson-type">Select lesson type</p>
                <div class="row justify-content-center">
                    <p class="h3 text-center d-none" id="select-date">Select date <a class="trigger"><i class="bi bi-info-circle-fill text-info trigger" id="info-icon"></i></a></p>
                    <div class="row d-flex justify-content-center d-none" id="book-for">
                            Booking for&nbsp;
                        <span class="p-0 me-2 w-auto" id="piano-or-theory"></span>
                        <span class="p-0 w-auto" id="online-or-offline"></span>
                    </div>    
                <div class="row d-flex justify-content-center d-none" id="oo-buttons">
                    <div class="col-3 mt-3">
                        <button type="button" class="btn btn-outline-dark lesson-button" id="online-btn">Online</button>
                    </div>
                    <div class="col-3 mt-3">
                        <button type="button" class="btn btn-outline-dark lesson-button" id="offline-btn">Offline</button>
                    </div>

                        <!-- Back to lesson selection  -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn text-center mt-5 back-button" id="back-lesson"><i class="fa-solid fa-arrow-left fa-fw"></i>Back to lesson selection</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Select date  -->
            <div id="calendar" class="d-none">
                <div class="row d-flex justify-content-center">
                    <div class="col-3 mt-3 d-flex justify-content-center">
                        <div id="date" class="border border-dark">
                            <div id="datepicker">
                            </div>
                            <input type="hidden" id="my_hidden_input">
                        </div>
                    </div>

                    <!-- Select time  -->
                    <fieldset class="d-flex justify-content-center mt-3 d-none" id="time-picker">
                        <label for="speed"></label>
                        <select name="speed" id="speed" class="border border-dark text-center">
                            <option selected disabled hidden>Select time</option>
                            <option>10:00 - 10:45</option>
                            <option>11:00 - 11:45</option>
                            <option>12:00 - 12:45</option>
                            <option>13:00 - 13:45</option>
                            <option>15:00 - 15:45</option>
                            <option>16:00 - 16:45</option>
                        </select>
                    </fieldset>

                    <!-- Confirm booking button -->
                    <div class="mt-3 d-flex justify-content-center d-none" id="book-div">
                        <button type="button" class="btn text-center border border-dark" id="book-confirm">Book</button>
                    </div>

                    <!-- Back to lesson type selection  -->
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn text-center mt-5 back-button" id="back-lesson-type"><i class="fa-solid fa-arrow-left fa-fw"></i>Back to lesson type selection</button>
                    </div>
                </div>
            </div>
        </div>

{% else %}

{% endif %}

{%endblock%}