{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Select and book a lesson  -->

{% if user.is_authenticated %}

<div class="container-fluid row mt-5 justify-content-between" id="select-lesson">
    <div class="col-4" id="selection">
        <div>

            <!-- Select piano or theory  -->
            <div class="row d-flex justify-content-center" id="piano-theory">
                <p class="h3 text-center">Select a lesson</p>
                <div class="col-3 mt-3">
                    <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="piano-btn">Piano</button>
                </div>
                <div class="col-3 mt-3">
                    <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="theory-btn">Theory</button>
                </div>
            </div>

            <!-- Select online or offline  -->
            <div id="online-offline">
                <p class="h3 text-center d-none" id="select-lesson-type">Select lesson type</p>
                <div class="row justify-content-center">
                    <p class="h3 text-center d-none" id="select-date">Select date <a class="trigger"><i class="bi bi-info-circle-fill text-info trigger" id="info-icon"></i></a></p>
                    <div class="row d-flex justify-content-center d-none" id="book-for">
                            Booking for&nbsp;
                        <span class="p-0 me-2 w-auto" id="piano-or-theory"></span>
                        <span class="p-0 w-auto" id="online-or-offline"></span>
                    </div>    
                <div class="row d-flex justify-content-center d-none" id="oo-buttons">
                    <div class="col-3 mt-3">
                        <button type="button" class="btn btn-outline-dark lesson-button" id="online-btn">Online</button>
                    </div>
                    <div class="col-3 mt-3">
                        <button type="button" class="btn btn-outline-dark lesson-button" id="offline-btn">Offline</button>
                    </div>

{% else %}

{% endif %}

{%endblock%}