{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!-- Edit date and time -->
    <div class="mt-5 row row-cols-1 d-flex justify-content-center">
        <div class="text-center" id="edit-date-time">
            <p class="h3 mt-5 text-center">Edit date and time</p>
            <div class="mt-2">
                <div class="row d-flex justify-content-center" id="book-for">
                   <span class="p-0 me-2 w-auto" id="piano-or-theory">{{ edit_date_lesson }}</span>
                   <span class="p-0 w-auto" id="online-or-offline">{{ edit_date_lesson_type }}</span>
               </div>

                <!-- Select date  -->
                <div id="calendar">
                <div class="row d-flex justify-content-center">
                    <div class="col-3 mt-3 d-flex justify-content-center">
                        <div id="date" class="border border-dark">
                            <div id="datepicker">
                            </div>
                            <input type="hidden" id="my_hidden_input">
                        </div>
                    </div>

                    <!-- Select time  -->
                    <fieldset class="d-flex justify-content-center mt-3 d-none" id="time-picker">
                        <label for="speed"></label>
                        <select name="speed" id="speed" class="border border-dark text-center">
                            <option selected disabled hidden>Select time</option>
                            <option>10:00 - 10:45</option>
                            <option>11:00 - 11:45</option>
                            <option>12:00 - 12:45</option>
                            <option>13:00 - 13:45</option>
                            <option>15:00 - 15:45</option>
                            <option>16:00 - 16:45</option>
                        </select>
                    </fieldset>

    {% else %}

    <!-- Sign up or login message -->
    <p class="h3 mt-5 text-center">
        Please <a class="text-info text-decoration-none" href="#"> Sign Up</a> 
        or <a class="text-info text-decoration-none" href="#">Login</a> to view your bookings
    </p>

    {% endif %}

{%endblock%}