{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!-- Edit date and time -->
    <div class="mt-5 row row-cols-1 d-flex justify-content-center">
        <div class="text-center" id="edit-date-time">
            <p class="h3 mt-5 text-center">Edit date and time</p>
            <div class="mt-2">
                <div class="row d-flex justify-content-center" id="book-for">
                   <span class="p-0 me-2 w-auto" id="piano-or-theory">{{ edit_date_lesson }}</span>
                   <span class="p-0 w-auto" id="online-or-offline">{{ edit_date_lesson_type }}</span>
               </div>

    {% else %}

    <!-- Sign up or login message -->
    <p class="h3 mt-5 text-center">
        Please <a class="text-info text-decoration-none" href="#"> Sign Up</a> 
        or <a class="text-info text-decoration-none" href="#">Login</a> to view your bookings
    </p>

    {% endif %}

{%endblock%}