{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Home page picture container -->
    <div id="pic-frame">
        <div id="home-page-pic">
            <img src = "{% static 'images/piano1.jpg' %}" alt ='Piano Pic' class = "img-fluid">
        </div>
    </div>

    <!-- Contact information -->
    <div class="mt-4">
        <h3>CONTACT INFORMATION</h3>
        <ul class="list-group list-group-horizontal-xl mt-3">
            <li class="contact-list"><i class="fa-solid fa-mobile-screen-button fa-lg fa-fw"></i>+353 085 87654321</li>
            <li class="contact-list"><i class="fa-regular fa-envelope fa-lg fa-fw"></i>piano.email@school.com</li>
            <li class="contact-list"><i class="fa-sharp fa-solid fa-location-dot fa-lg fa-fw"></i>
                <a class="text-reset text-decoration-none" href="#" target="_blank">Location</a></li>
        </ul>
        <ul class="h5 p-0 mt-5 text-uppercase" id="home-text">
            <li class="mb-3"><i class="fa-solid fa-check"></i>Piano and Theory lessons for adults and children</li>
            <li class="mb-3"><i class="fa-solid fa-check"></i>Any skill level</li>
            <li><i class="fa-solid fa-check"></i>Casual and professional education</li>
    </div>

{%endblock%}