{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!-- My upcoming bookings -->
    <div class="mt-5 row row-cols-1 d-flex justify-content-center" id="manage-bookings-wrap">
        <div class="text-center">
            <p class="h3 mt-5 text-center upc-lessons">
                You currently don't have upcoming lessons.
            </p>
            <div class="mt-4">
                {% for current in bookings_list %}
                    {% if current.student == request.user and current.status == True %}

                    <div class="btn-toolbar d-flex justify-content-center mt-2 mb-2 h4">
                        <p class="btn-group me-3 mb-0 lh-lg" id="upc-manage-book">{{ current.lesson }} {{ current.lesson_type }} | {{ current.date }} - {{ current.time }}</p>
                        <div class="w-auto btn btn-outline-dark btn-group me-2 ps-2 pe-2 h-50 p-0 align-middle mt-1" id="change-date"><p class="m-0 p-0 h6 lh-lg"><a class="text-reset text-decoration-none" href="/edit/{{ current.id }}">Change date</a></p></div>
                        <div class="w-auto btn btn-outline-dark btn-group me-2 ps-2 pe-2 h-50 p-0 align-middle mt-1" id="change-type"><p class="m-0 p-0 h6 lh-lg"><a class="text-reset text-decoration-none" href="/edit_type/{{ current.id }}">Change type</a></p></div>
                        <div class="w-auto btn btn-outline-dark btn-group me-2 ps-2 pe-2 h-50 p-0 align-middle mt-1" id="cancel"><p class="m-0 p-0 h6 lh-lg"><a class="text-reset text-decoration-none" href="/cancel/{{ current.id }}">Cancel</a></p></div>
                    </div>

                    {% endif %}
                {% endfor %}
            </div>
            <div class="mt-3 btn btn-outline-dark" id="manage"><a class="text-reset text-decoration-none" href="{% url 'past_bookings' %}">View my past bookings</a></div>
        </div>
    </div>

    {% else %}

    <!-- Sign up or login message -->
    <p class="h3 mt-5 text-center">
        Please <a class="text-info text-decoration-none" href="{% url 'account_signup' %}"> Sign Up</a> 
        or <a class="text-info text-decoration-none" href="{% url 'account_login' %}">Login</a> to view your bookings
    </p>

    {% endif %}

{%endblock%}