{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!-- My upcoming bookings -->
    <div class="mt-5 row row-cols-1 d-flex justify-content-center" id="manage-bookings-wrap">
        <div class="text-center">
            <p class="h3 mt-5 text-center">

            </p>

    {% else %}

    <!-- Sign up or login message -->
    <p class="h3 mt-5 text-center">
        Please <a class="text-info text-decoration-none" href="#"> Sign Up</a> 
        or <a class="text-info text-decoration-none" href="#">Login</a> to view your bookings
    </p>

    {% endif %}

{%endblock%}